.exam {
  margin-left: 1rem;
  display: grid;
  place-content: center;

  max-width: 50%;
  margin: 0 auto;
}

.center-card h1 {
  font-size: 1.8rem;

  font-weight: 600;
  margin-bottom: 3rem;
  margin-top: 5.5rem !important;
}
.center-card select {
  width: 100%;
  padding: 0.5rem;
  background-color: hsl(218, 32%, 25%);
}

fieldset {
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border-color: #999;
  border-style: solid;
}

legend {
  font-size: 1rem;
  font-weight: 500;
  color: #eee;
}

.center-card > * {
  line-height: 0;
}

.center-card h2 {
  font-size: 1.1rem;
  font-weight: 500;

  margin-top: 2rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.tags span {
  display: inline-block;
  box-sizing: border-box;
  font-size: 0.9rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(218, 32%, 25%);
  padding: 0.95rem 0.75rem;
  border-radius: 2rem;
  margin-top: 0.4rem;
  cursor: pointer;
  transition: all 0.1s;
  border: solid 2px #999;
  user-select: none;
}

.tags span:hover {
  transform: scale(1);
  border: solid 2px var(--clr-highlight);
}
span.selected {
  color: hsl(0, 0%, 0%);
  font-weight: 600;
  background-color: var(--clr-highlight);
}

.exam option {
  padding: 0.5rem 0.75rem;
}

.start-exam {
  width: 100%;
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: #374155;
}
